mat-drawer
{
    width: 300px ;
}

mat-drawer-container{
    height: 83%;
}
mat-drawer-content {
    padding: 20px;
  }

:host
{
    font-display: flex;
    flex-direction: column;
    height: 100%;
}